backup
.prettierignore
.gitignore

**/*.d.ts

*/*.env

**/public
**/dist

**/node_modules
**/coverage
**/build
**/temp

**/*.svg

**/*.yml
**/*.yaml

**/*.hbs

**/*.sh

**/*.properties
**/*.md

**/Dockerfile
**/Dockerfile.*
